<%- include('../partials/header') %>

<h1>Edit Your Review</h1>
<br><br>
<h4>Edit Your Own Review:</h4>
<br>
<form action="" method="PUT">
    <textarea type="text" name="text" class="new-review"></textarea>
    <br><br>
    <button type="submit" class="submit-btn">Submit</button>
</form>













<%- include('../partials/footer') %>