<%- include('../partials/header') %>




<h1>A Particular Course and Details on that course</h1>
<h3>If logged in, there is a spot to write a review on this course.</h3>





<%- include('../partials/footer') %>