* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: rgb(130, 130, 130); */
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  background: url(https://images.unsplash.com/photo-1584837140804-599306fb37f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  background-size: cover;
  background-attachment: fixed;
}

main {
  padding: 35px;
  color: rgb(255, 255, 255);
}

nav{
  background-color: white;
  padding: 20px;
  position: sticky;
  top: 106px;
  z-index: 1;
}
nav ul{
  white-space: nowrap;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
nav li{
  width: 25%;
  display: inline-block;
  font-size: 24px;
}

li {
  font-size: 30px;
  list-style: none;
  background-color: white;
  padding: 8px;
}

.landing-btn li {
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
}

.landing-btn li a{
  background-color: rgba(255, 255, 255, 0);
  color: ghostwhite;
}
.landing-btn li a:hover{
  text-decoration: underline;
  color: rgb(4, 96, 4);
}

a {
  color: rgb(4, 96, 4);
  background-color: white;
  text-decoration: none;
}

.details {
  background-color: rgba(73, 92, 39, 0);
  color: rgb(6, 172, 243);
  font-size: 18px;
}

a:hover {
  color: rgb(100, 100, 252);
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

#reviews-list-header {
  font-size: 20px;
}

textarea {
  width: 60%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

button {
  background-color: #f8f8f8;
  border-radius: 8px;
  padding: 5px 10px;
}

button:hover {
  font-size: 110%;
  background-color: rgb(53, 228, 53);
}

.delete-btn:hover {
  font-size: 110%;
  background-color: rgb(247, 42, 42);
}

p {
  color: white;
}

.course-form {
  width: 250px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}
.course-edit-link-container {
  text-align: center;
  width: 100%;
}
#course-edit-link {
  font-size: 25px;
  text-align: center;
}
#course-edit-link:hover {
  text-decoration: underline;
}

#landing-body {
  background: url(https://images.unsplash.com/photo-1587174486073-ae5e5cff23aa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
  background-size: cover;
  background-attachment: fixed;
}

#landing-title {
  color: rgb(2, 69, 2);
  font-size: 50px;
}

#landing-subtitle {
  color: rgb(2, 69, 2);
}

.course-item-container{
  display: grid;
}

.courseIndexItem {
  border: solid white;
  background-color: forestgreen;
  padding: 10px;
  width: 40%;
}

.form-add-edit {
  display: grid;
  justify-content: center;
}

/* responsive */

@media screen and (max-width: 600px) {
  nav li{
    display: block;
    width: 100%;
    margin: 12px 0;
  }
}

@media screen and (max-width: 1050px) {
  .course-item-container {
    display: grid;
    justify-content: center;
  }

  .courseIndexItem {
    width: 300px;
  }
}

@media screen and (max-width: 375px) {
  .new-review {
    width: 300px;
  }
  #landing-subtitle {
    border-radius: 25px;
    padding:6px;
    background-color: rgba(255, 255, 255, .3);
  }
}

