* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(125, 102, 102);
  font-family: Helvetica;
}

.container {
  display: flex;
  padding: 30px;
  background-color: white;
}

.logout {
  margin-left: auto;
}

li {
  font-size: 35px;
  list-style: none;
  background-color: white;
}

a {
  color: grey;
  background-color: white;
}

a:hover {
  color: rgb(113, 113, 255);
}








