* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(130, 130, 130);
  font-family: Helvetica;
}

.container {
  display: flex;
  padding: 30px;
  background-color: white;
}

.logout {
  margin-left: auto;
}

li {
  font-size: 35px;
  list-style: none;
  background-color: white;
}

a {
  color: grey;
  background-color: white;
}

.details {
  color: white;
  background-color: rgb(130, 130, 130);
}

a:hover {
  color: rgb(148, 148, 252);
}

main {
  padding: 35px;
  color: white;
}

h1 {
  text-align: center;
  color: rgb(53, 228, 53);
}

h3 {
  text-align: center;
  color: rgb(53, 228, 53);
}

#reviews-list-header {
  font-size: 20px;
}

textarea {
  width: 60%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

button {
  background-color: #f8f8f8;
}

button:hover {
  font-size: 110%;
  background-color: rgb(53, 228, 53);
}

p {
  color: rgb(53, 228, 53);
}









